In [26]:
import pandas as pd
from datetime import datetime

file_path = 'geodatabase/data_excel/ft_24052024_08062024.xlsx'
data = pd.read_excel(file_path, engine='openpyxl')
data

C:\Users\2ndba\anaconda3\envs\agriculural\Lib\site-packages\openpyxl\worksheet\header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

,OBJECTID,VALUE_1,VALUE_2,VALUE_3,VALUE_4,VALUE_5,VALUE_6,VALUE_7,VALUE_8,VALUE_9,VALUE_11,VALUE_12,VALUE_13,VALUE_14
0,1,6.183899e+06,9.339093e+06,4.646655e+06,3.716237e+06,3.759693e+06,2.780388e+06,1.901962e+06,3.405063e+06,5.688039e+06,75271.457939,63631.541762,79927.424409,409725.049397
1,2,7.131389e+06,5.429633e+06,2.251936e+06,1.292031e+06,1.590789e+06,1.430934e+06,1.293583e+06,1.545781e+06,5.262794e+06,17847.871470,9311.932941,57423.586469,235902.301168
2,3,4.159330e+05,1.520949e+05,1.777027e+05,2.110705e+05,3.561814e+05,2.133985e+05,1.156232e+05,4.035171e+04,8.380740e+04,775.994412,775.994412,65183.530586,38023.726175
3,4,1.474389e+04,6.207955e+03,8.535939e+03,9.311933e+03,3.103978e+03,1.551989e+03,0.000000e+00,2.327983e+03,9.311933e+03,0.000000,0.000000,0.000000,0.000000
4,5,1.907394e+06,1.278063e+06,8.070342e+05,5.362121e+05,9.816329e+05,7.084829e+05,4.244689e+05,3.321256e+05,1.613292e+06,8535.938529,3103.977647,7759.944117,47335.659116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6762,6996,2.327983e+03,1.551989e+03,1.551989e+03,0.000000e+00,0.000000e+00,0.000000e+00,4.655966e+03,2.327983e+03,1.784787e+04,0.000000,0.000000,0.000000,0.000000
6763,6997,6.207955e+03,1.008793e+04,6.983950e+03,6.207955e+03,0.000000e+00,0.000000e+00,0.000000e+00,3.879972e+03,7.759944e+03,0.000000,0.000000,0.000000,0.000000
6764,6998,2.327983e+04,6.983950e+03,1.862387e+04,1.319190e+04,4.655966e+03,7.759944e+02,7.759944e+02,7.759944e+02,6.207955e+03,0.000000,1551.988823,0.000000,775.994412
6765,6999,8.535939e+03,2.405583e+04,5.431961e+03,1.551989e+03,0.000000e+00,0.000000e+00,1.551989e+03,3.103978e+03,1.629588e+04,0.000000,0.000000,0.000000,0.000000
6766,7000,1.396790e+04,1.396790e+04,3.103978e+03,0.000000e+00,0.000000e+00,0.000000e+00,2.327983e+03,1.551989e+03,3.414375e+04,0.000000,0.000000,0.000000,0.000000

In [27]:
date_str = '08/06/2024'
date_str

'08/06/2024'

In [28]:
rows = []

for index, row in data.iterrows():
    object_id = row['OBJECTID']
    for phase in range(1, 15):
        if phase == 10:  
            continue
        new_row = {
            'object_id': int(object_id),
            'fase_tanam': phase,
            'luas (ha)': row[f'VALUE_{phase}'],
            'tanggal': date_str
        }
        rows.append(new_row)

result_df = pd.DataFrame(rows)
result_df = result_df[result_df['luas (ha)'] != 0]
output_file_path = 'repository/ft_24052024_08062024.xlsx'
result_df.to_excel(output_file_path, index=False)

output_csv_path = 'repository/ft_24052024_08062024.csv'
result_df.to_csv(output_csv_path, index=False, sep=';', header=False)

result_df.head()

   object_id  fase_tanam     luas (ha)     tanggal
0          1           1  6.183899e+06  08/06/2024
1          1           2  9.339093e+06  08/06/2024
2          1           3  4.646655e+06  08/06/2024
3          1           4  3.716237e+06  08/06/2024
4          1           5  3.759693e+06  08/06/2024